/*	Reset & General
---------------------------------------------------------------------- */
* { margin: 0px; padding: 0px; font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", sans-serif; font-weight:100;}
body {
	width: 100%; 
	height: 100%;
	
}
.ui-body-c, .ui-dialog.ui-overlay-c {
	background: url(images/login/bg.png) top left no-repeat;
}
.ui-dialog.ui-overlay-c
{
	background:#f00;
	background-image:none;
	}

.logo-loader {
	text-indent:-99999px;
	width:715px;
	height:284px;
	margin:0 auto;
	margin-top:10%;
	background:url(images/login/logo.png) no-repeat;	
}

.lifely-loader {
	text-indent:-99999px;
	width:239px;
	height:146px;
	margin:0 auto;
	margin-top:-80px;	
	background:url(images/login/bylifely.png) no-repeat;	
}
.login-loader {
	height:auto;
	width:40%;
	padding:20px;
	background:#fff;
	margin:0 auto;
	margin-top:10%;
	border-radius:7px;
}